flow.json
[{"id":"1cc60790.9179a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"62d9ad3d.b451f4","type":"inject","z":"1cc60790.9179a8","name":"SCADA","topic":"SCADA IOT","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["a4c541f3.6c8f6"]]},{"id":"68bd41e.135d1c","type":"debug","z":"1cc60790.9179a8","name":"DATA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":120,"wires":[]},{"id":"a4c541f3.6c8f6","type":"function","z":"1cc60790.9179a8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["68bd41e.135d1c"]]},{"id":"63f5e893.937e68","type":"http in","z":"1cc60790.9179a8","name":"","url":"","method":"get","upload":false,"x":220,"y":360,"wires":[[]]},{"id":"cce4de63.47eee","type":"http response","z":"1cc60790.9179a8","name":"","statusCode":"","headers":{},"x":520,"y":380,"wires":[]},{"id":"139fb136.cc808f","type":"http request","z":"1cc60790.9179a8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":380,"wires":[[]]}]